<h1>Admin Login</h1>
<% provide(:title, "Sign in") %>
<p id="notice"><%= notice %></p>

<style>
    body {
        background-color: #b0c4de;
        text-shadow: 5px 5px 5px #FF0000;

    }
</style>

<%= render 'form' %>
