<h1>New consumer</h1>
<% provide(:title, "Register") %>
<style>
body {
    background-color: #b0c4de;
    text-shadow: 5px 5px 5px #FF0000;

}
</style>

<p id="notice"><%= notice %></p>

<%= render 'new_form' %>
